[Unit]
Description=Apache Kafka
After=network.target

[Service]
Type=simple
Environment="JAVA_HOME={{ java_home }}"
ExecStart="{{ kafka_home }}/bin/kafka-server-start.sh" "{{ kafka_home }}/config/server.properties"
Restart=always

[Install]
WantedBy=multi-user.target
